# Core app
streamlit

# LangChain components
langchain==0.2.12
langchain-community==0.2.12
langchain-text-splitters
langchain-chroma
langchain-ollama

# File processing
python-pptx     # For reading .pptx and .pptm files
pypdf           # For PDF parsing


